body {
    font-family: sans-serif;
}
svg{
    user-select: none;
}
/* EMPTY */

.empty path{
    fill: url("#hatching");
    stroke-opacity: 0;
}

.empty text{
    fill: none;
    stroke: none;
}

/* DANGEROUS */

.dangerous path{
    fill: #ccc;
    stroke: #000;
    stroke-opacity: 1;
}
.dangerous text{
    fill:#000;
    stroke: none;
}

/* SECURE */

.secure path{
    fill: #FFF;
    stroke: #000;
    stroke-opacity: 1;
}
.secure text{
    fill:#000;
    stroke: none;
}

/* ALIEN */
.alien-start path{
    fill:#000;
}
.alien-start text{
    fill:none;
    stroke:none;
}

/* HUMAN */
.human-start path{
    fill:#000;
}
.human-start text{
    fill:none;
    stroke:none;
}

/* AIRLOCK */
.airlock path{
    fill:#000;
}
.airlock text{
    fill:none;
    stroke:none;
}

.hexagons g path:hover{
    stroke-opacity: 1;
    stroke-width:4;
    stroke: red;
}

.hexagons g:hover text{
    fill: red;
    fill-opacity: 1;
}

.map-title {
    font-family: 'Share Tech Mono', monospace;
    font-size: 290px;
    text-anchor:middle;
}

.label {
    font-family: 'Share Tech Mono', monospace;
    fill: black;
    stroke: none;
    pointer-events: none;
}

.icon-set{
    display:none;
}
.map{
    position: absolute;
    top:0px;
}

.ui{
    padding:20px;
    font-family: 'Share Tech Mono', monospace;
    font-weight:bold;
    color:#000000;
    display: inline-block;
    position: fixed; 
    top:0px;
    background:#EEEEEE;
    border: 1px solid black;
}

.key-element{
    position: relative;
    margin-top: 10px;
    height: 20px;
}
.key-element:hover{
    color: red;
    cursor: pointer;
}

.key-icon{
    width: 20px;
    height: 20px;
}
.key-text{
    position: relative;
    top:-6px;
    display:inline-block;
    vertical-align: middle;
}

