body {
    font-family: sans-serif;
}

svg{
    user-select: none;
}

.hexagons g path:hover{
    stroke-opacity: 1;
    stroke-width:4;
    stroke: red;
}

.hexagons g:hover text{
    fill: red;
    fill-opacity: 1;
}

.icon-set{
    display:none;
}
.map{
    position: absolute;
    top:0px;
}

.ui{
    padding:20px;
    font-family: 'Share Tech Mono', monospace;
    font-weight:bold;
    color:#000000;
    display: inline-block;
    position: fixed; 
    top:0px;
    background:#EEEEEE;
    border: 1px solid black;
}

.key-element{
    position: relative;
    margin-top: 10px;
    height: 20px;
}
.key-element:hover{
    color: red;
    cursor: pointer;
}

.key-icon{
    width: 20px;
    height: 20px;
}
.key-text{
    position: relative;
    top:-6px;
    display:inline-block;
    vertical-align: middle;
}

