body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

svg{
    user-select: none;
}

hr{
    border: 0px;
    border-bottom: 1px solid black;
    margin-bottom: 50px;
    margin-top: 50px;
}

.grid{
    display: grid;
    grid-template-columns: 2fr 10fr;
}

a{
    color: black;
}

a:hover{
    color: red;
}

.hexagons g path:hover{
    stroke-opacity: 1;
    stroke-width:4;
    stroke: red;
    cursor: pointer;
}

.hexagons g:hover text{
    fill: red;
    fill-opacity: 1;
}

.icon-set{
    display:none;
}
.map{
    position: absolute;
    top:0px;
}

.ui{
    padding:20px;
    font-family: 'Share Tech Mono', monospace;
    font-weight:bold;
    color:#000000;
    display: inline-block;
    top:0px;
    background:#EEEEEE;
}

ul{
    list-style: none;
    padding-left: 0px;
}

li::before{
    content: '> ';
}

.title-input, select{
    padding:3px;
    margin:0px;
    margin-bottom: 10px;
    border:0px;
    border-bottom:3px solid;
    width: 95%;
    font-family: 'Share Tech Mono', monospace;
    font-size: 20px;
}

select{
    margin-top:15px;
}

.key-element{
    position: relative;
    margin:5px;
    margin-left:0px;
    margin-right:0px;
    padding: 10px;
    min-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 5px solid;
    border-color:rgba(255,255,255,0.4)  rgba(0,0,0,0.4)  rgba(0,0,0,0.4)  rgba(255,255,255,0.4);
}
.key-element:hover, .key-element.selected{
    background-color: rgba(0,0,0,0.08);
    color: red;
    cursor: pointer;
    border-color: rgba(0,0,0,0.4) rgba(255,255,255,0.4)  rgba(255,255,255,0.4) rgba(0,0,0,0.4) ;
    padding-bottom:7px;
    padding-top:13px;
}

div.key-element.selected{
    color: black;
}

.key-icon{
    width: 20px;
    height: 20px;
}
.key-text{
    position: relative;
    top:-6px;
    display:inline-block;
    vertical-align: middle;
}

.about{
    line-height: 1.5;
}

@media print and (min-width: 480px) {
    .ui {
        display: none;
    }
    .grid{
        grid-template-columns: 1fr;
    }
}