body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

svg{
    user-select: none;
}

.grid{
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.hexagons g path:hover{
    stroke-opacity: 1;
    stroke-width:4;
    stroke: red;
}

.hexagons g:hover text{
    fill: red;
    fill-opacity: 1;
}

.icon-set{
    display:none;
}
.map{
    position: absolute;
    top:0px;
}

.ui{
    padding:20px;
    font-family: 'Share Tech Mono', monospace;
    font-weight:bold;
    color:#000000;
    display: inline-block;
    top:0px;
    background:#EEEEEE;
    position: sticky;
}

.title-input{
    padding:3px;
    margin:0px;
    border:0px;
    border-bottom:1px solid;
}

.key-element{
    position: relative;
    margin-top: 10px;
    min-height: 20px;
}
.key-element:hover{
    color: red;
    cursor: pointer;
}

.key-icon{
    width: 20px;
    height: 20px;
}
.key-text{
    position: relative;
    top:-6px;
    display:inline-block;
    vertical-align: middle;
}

@media print and (min-width: 480px) {
    .ui {
        display: none;
    }
    .grid{
        grid-template-columns: 1fr;
    }
}